<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Chat</title>
</head>
<body>
    <header>
        <nav>CYBER BOT</nav>
    </header>
    <div class="chat-container">
        <div class="bubble-container" id="appendChat">
            <span class="chatBubble">
            </span>

        </div>
       

        <div class="input-container">
            <input type="text" id="userInput">
            <button id="send">Send</button>
        </div>
        

   
        
    </div>

    <script>
        $(document).ready(function(){
            let welcome="Hi there! Ask me something about the cyber security."
            let botResponse= `<div class='me'><span class='chatBubble-bot'>${welcome}<br></span></div>`;
           $("#appendChat").append(botResponse);
        function getUserResquery()
        {
            
            // $.get("/chat/")
            inputUser=$("#userInput").val();
           let userInput= `<div><span class='chatBubble-user'>${inputUser}<br></span></div>`;
         
           $("#appendChat").append(userInput);

           $.get("/bot/response/", { msg: inputUser }).done(function (data) {

            let botResponse= `<div class='me'><span class='chatBubble-bot'>${data}<br></span></div>`;
           $("#appendChat").append(botResponse);
           })

        }
        document.getElementById("send").addEventListener("click", getUserResquery);
    });

    </script>


    
</body>
</html>